* {
  box-sizing: border-box;
}

body {
    font-family: Verdana,sans-serif;
}


/* Mobile Design */ 

#top {
        height: 43px;
        margin-top: -8px;
        margin-left: -8px;
        margin-right: -8px;
        padding: 2px;
        text-align: center;
}

#logo img {
    width: 50px;
}

#header {
    height: 110px;
    padding: 5px;
    padding-left: 10px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
}

#header h1{
    font-size: 24px;
}

#content {
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 15px;
    padding-bottom: 23px; /* same as footer.height*/
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23px; /* same as content.padding-bottom*/
    margin-left: -8px;
    margin-top: 5px;
    margin-bottom: -8px;
    text-align: center;
}

/* Desktop Design */

@media only screen and (min-width: 768px) {
    
    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #top {
        height: 105px;
        margin-top: -8px;
        margin-left: -8px;
        margin-right: -8px;
        padding: 2px;
        padding-bottom: 10px;
        text-align: center;
    }

    #logo {
        margin-top: 14px;
    }

    #logo img {
        margin-top: -8px;
        width: 120px;
    }

    #header {
        height: 160px;
        padding: 5px;
        padding-left: 10px;
        padding-top: 10px;
        margin-left: -8px;
        margin-right: -8px;
        text-align: center;
    }
    
    #header h1{
        font-size: 35px;
    }

    #content {
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 40px; /* same as footer.height*/
    }

    #description {
        margin-bottom: 55px;
    }

    .service {
        margin-bottom: 15px;
    }

    .service a {
        margin-left: 5px;
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px; /* same as content.padding-bottom*/
        margin-left: -8px;
        margin-top: 5px;
        margin-bottom: -8px;
        text-align: center;
    }

    #footer div {
        margin-top: 8px;
    }
}


/* Color Scheme */

.w3-theme-l5 {color:#000 !important; background-color:#f4e8ff !important}
.w3-theme-l4 {color:#000 !important; background-color:#d9b3ff !important}
.w3-theme-l3 {color:#fff !important; background-color:#b366ff !important}
.w3-theme-l2 {color:#fff !important; background-color:#8c1aff !important}
.w3-theme-l1 {color:#fff !important; background-color:#6600cc !important}
.w3-theme-d1 {color:#fff !important; background-color:#390073 !important}
.w3-theme-d2 {color:#fff !important; background-color:#330066 !important}
.w3-theme-d3 {color:#fff !important; background-color:#2d0059 !important}
.w3-theme-d4 {color:#fff !important; background-color:#26004d !important}
.w3-theme-d5 {color:#fff !important; background-color:#200040 !important}

.w3-theme-light {color:#000 !important; background-color:#f4e8ff !important}
.w3-theme-dark {color:#fff !important; background-color:#200040 !important}
.w3-theme-action {color:#fff !important; background-color:#200040 !important}

.w3-theme {color:#fff !important; background-color:#400080 !important}
.w3-text-theme {color:#400080 !important}
.w3-border-theme {border-color:#400080 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#400080 !important}
.w3-hover-text-theme:hover {color:#400080 !important}
.w3-hover-border-theme:hover {border-color:#400080 !important}
